name = "cloudflare-share"
main = "src/index.js"
compatibility_date = "2026-03-10"

[[d1_databases]]
binding = "DB"
database_name = "cloudflare-share-db"
database_id = "xxxxxxxx-xxxxxx-xxxxx-xxxxx"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "cloudflare-share-bucket"